.vscode
bootstrap/cache/*
builds
tests
vendor
storage/api-docs/*
storage/app/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
.git*
.phpunit.*
.phplint.*
.scannerwork

.dockerignore
.DS_Store
Dockerfile*
docker-compose*
.env
.env.example
README.md
.phplint.yml
phpcs.xml.dist
phpstan.neon.dist
phpunit.xml.dist
pint.json
.php_cs.cache
*.log
.releaserc
Jenkinsfile
.editorconfig

!storage/app/public/.gitignore
